
venv/
.history/
.history
history*
__pycache__/
migrations
.idea/
.vscode/
setup.cfg
.DS_Store
celerybeat.pid
*static
*mediafiles
*staticfiles
.pytest_cache
*.sqlite3
.coverage
htmlcov
*logs
docker-compose.test.yaml
aws.txt
celerybeat-schedule
*ngrok
*nginx-dev
aws.txt
manage.py
app/manage.py
